*{
    padding: 0;
    margin: 0;
   
}
body{
    background: rgb(144,224,224);
    background: linear-gradient(90deg, rgba(144,224,224,1) 13%, rgba(186,147,186,1) 30%, rgba(101,236,171,1) 53%, rgba(0,212,255,1) 100%);
}

.ul-list {
    background-color:lightgray;
    text-align: end;
    color: black;
    padding: 30px;
    list-style: none;
    /* margin: 10px; */
   
    height: 12px;
    font-family: Arial, Helvetica, sans-serif;
    
    
   


}
.ul-list >h3 {
    text-align: left;
    color: black;
    text-transform: uppercase;
   display: inline;
   padding-right: 700px;
   font-size: 19px;
    
}
.nav-li {
    display: inline;
   
    padding-left:26px;
    
    
}
.nav-li>a {
    font-size: 18px;
   
    
    
}

.nav.li:hover {
    color: blue;
    cursor: pointer;
}
   
    

/* .main{
    background-color: aqua;
   
    height: 100%;
    padding: 20px;
    margin: 5px; */
 
  

.card {
    background-color: rgb(236, 215, 215);
    padding: 15px;
    margin: 15px;
   
    border-radius: 5px;
    box-shadow: rgba(116,110,218,1) 0px 5px 15px;
   width: 700px;
   text-align: center;
   align-content: center;
   margin-left: 330px;
   margin-top: 130px;
   background-color: lightblue;
   

   border-radius: 10px;
   
 
   
   
  
    
    
    
}
h1{
padding: 5px;

margin: 5px;
font-size: 40px;
font-family: sans-serif;
/* border: 1px solid black; */
cursor: pointer;
font-family: Arial, Helvetica, sans-serif;

}
.list-items {
    padding: 12px;
  
    list-style-type: none;
   
    color: blueviolet;
    font-size: 20px;
    
    
  
  
}
.list-items>li{
    
    padding: 12px;
    
  
}
a{
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
  
}

a:hover{
    color: blue;
    cursor: pointer;
}

